.findidcontent {
    position:static;
    margin-left: 30%;
    margin-right: 30%;
    
}


#titlefind {
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 10%;
}

.send {
    margin-bottom: 250px;
}